/* GLOBAL STYLES */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* NAVBAR STYLES */
.nav-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.main-nav a{
  margin-left: 20px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  /* display: block; */
}

.main-nav a:link{
  text-decoration: none;

}

ul{
  list-style-type: none;
  
}

/* HOME PAGE STYLES */
.container{
  max-width: 950px;
}

.hero-image{
  margin-top: -25px;
  background-image: linear-gradient(to bottom, #3f51b5, #5867bd, #707ec3, #8894c9, #a2abcd);
  /* background-image: linear-gradient(to bottom, #3f51b5, #7879c8, #a7a3da, #d4d0ed, #ffffff); */
  height: 90vh;
}

.hero-image h1{
  color: #fff;
  font-size: 104px;
  margin-top: 0px;
  text-align: center;
}

.empty-space{
  height: 25vh;
}